{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
  <!-- Header -->
  <header class="bg-[#fdfdf6] dark:bg-gray-800 fixed top-0 left-0 w-full shadow-md z-50">
    <div class="w-full px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-20">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a href="#" title="" class="flex">
            <svg width="70" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <g stroke="black" stroke-width="8">
                <rect x="50" y="40" width="20" height="120" fill="red"/>
                <rect x="90" y="40" width="20" height="120" fill="red"/>
                <path d="M 50 80 L 130 40" fill="none" stroke="red" stroke-width="8"/>
                <path d="M 50 120 L 130 180" fill="none" stroke="red" stroke-width="8"/>
              </g>
            </svg>
          </a>
        </div>

        <!-- Contenedor para alinear botones (modo oscuro y login con Google) -->
        <div class="flex items-center space-x-4">
          <!-- Dark Mode Toggle Button -->
          <button id="dark-mode-toggle" class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"/>
            </svg>
          </button>

          <!-- Login Button (Google) -->
          <a href="{% provider_login_url 'google' %}" title="" class="inline-flex items-center" role="button">
            <button type="button" 
              class="px-5 py-3 inline-flex items-center rounded-lg text-[#333] text-base tracking-wider font-semibold border-none outline-none shadow-lg bg-gray-50 hover:bg-gray-100 active:bg-gray-50 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">
              <svg xmlns="http://www.w3.org/2000/svg" width="22px" fill="#fff" class="inline mr-3" viewBox="0 0 512 512">
                <path fill="#fbbd00" d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z"/>
                <path fill="#0f9d58" d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z"/>
                <path fill="#31aa52" d="m139.131 325.477-86.308 86.308a260.085 260.0 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z"/>
                <path fill="#3c79e6" d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z"/>
                <path fill="#cf2d48" d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z"/>
                <path fill="#eb4132" d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z"/>
              </svg>
              Empieza con Google
            </button>
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- Banner Section -->
  <main class="mt-32 bg-gray-100 dark:bg-slate-700 p-4">
    <div class="flex flex-col md:flex-row">
      <!-- Banner Area -->
      <div class="w-full md:w-1/2 flex flex-col justify-center items-center border-b-2 border-black p-4">
        <h1 class="text-5xl font-poppins text-balance font-bold text-gray-800 dark:text-gray-100">
          Aprueba. <br><br> Practica. <br><br>
          <span class="flex items-center bg-red-200 dark:bg-red-200 dark:text-black rotate-6">
            Superate
            <svg class="w-12 h-12 ml-1 text-red-500 dark:text-red-700 items-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.122 17.645a7.185 7.185 0 0 1-2.656 2.495 7.06 7.06 0 0 1-3.52.853 6.617 6.617 0 0 1-3.306-.718 6.73 6.73 0 0 1-2.54-2.266c-2.672-4.57.287-8.846.887-9.668A4.448 4.448 0 0 0 8.07 6.31 4.49 4.49 0 0 0 7.997 4c1.284.965 6.43 3.258 5.525 10.631 1.496-1.136 2.7-3.046 2.846-6.216 1.43 1.061 3.985 5.462 1.754 9.23Z" />
            </svg>
          </span>
        </h1>
    
        <p class="mt-11 text-gray-600 dark:text-gray-300">
          Crea examenes <span class="text-red-600 font-bold">REALISTAS</span> de manera facil y de forma
          <span class="text-red-600 font-bold">GRATUITA</span>
        </p>
      </div>
    
      <!-- Stepper Area -->
      <div class="w-full md:w-1/2 flex flex-col justify-center items-center p-6 mt-4 md:mt-0 md:ml-4">
        <div class="w-full max-w-md">
          <!-- Stepper -->
          <div class="flex items-center justify-between mb-6">
            <div class="flex items-center">
              <div class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-300 text-black font-bold">1</div>
              <p class="ml-2 text-gray-800 dark:text-gray-100 font-semibold">Sube tu PDF</p>
            </div>
            <div class="h-1 flex-1 bg-slate-500 mx-2"></div>
            <div class="flex items-center">
              <div class="w-8 h-8 flex items-center justify-center rounded-full bg-orange-400 text-black font-bold">2</div>
              <p class="ml-2 text-gray-800 dark:text-gray-100 font-semibold">Genera preguntas</p>
            </div>
            <div class="h-1 flex-1 bg-slate-500 mx-2"></div>
            <div class="flex items-center">
              <div class="w-8 h-8 flex items-center justify-center rounded-full bg-red-500 text-black font-bold">3</div>
              <p class="ml-2 text-gray-800 dark:text-gray-100 font-semibold">Practica</p>
            </div>
          </div>
    
          <!-- Description -->
          <p class="text-gray-600 dark:text-gray-400 text-sm text-center mb-6">
            Sigue estos pasos para generar tu examen de manera rápida y sencilla.
          </p>
    
          <!-- Button -->
           <a href="{% provider_login_url 'google' %}">
            <button class="w-full font-poppins bg-red-500 text-white py-2.5 rounded-md text-lg font-semibold shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 flex items-center justify-center">
              Comenzar Ahora
              <svg class="w-6 h-6 ml-2 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.6144 7.19994c.3479.48981.5999 1.15357.5999 1.80006 0 1.6569-1.3432 3-3 3-1.6569 0-3.00004-1.3431-3.00004-3 0-.67539.22319-1.29865.59983-1.80006M6.21426 6v4m0-4 6.00004-3 6 3-6 2-2.40021-.80006M6.21426 6l3.59983 1.19994M6.21426 19.8013v-2.1525c0-1.6825 1.27251-3.3075 2.95093-3.6488l3.04911 2.9345 3-2.9441c1.7026.3193 3 1.9596 3 3.6584v2.1525c0 .6312-.5373 1.1429-1.2 1.1429H7.41426c-.66274 0-1.2-.5117-1.2-1.1429Z"/>
              </svg>
            </button>
           </a>
          
          
        </div>
      </div>
    </div>
    
    
    

    <!-- LISTA COSAS POR LAS QUE USAR -->
    <div class="mt-8 font-poppins p-4 w-full flex flex-col items-center justify-center">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-4">
        ¿Por qué elegir esta herramienta?
      </h2>
      <ul class="space-y-4">
        <li class="flex items-center">
          <svg class="w-[34px] h-[34px] text-red-500 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
          </svg>
          <span class="text-gray-800 dark:text-gray-100 font-semibold">Es totalmente gratis!!</span>
        </li>
        <li class="flex items-center">
          <svg class="w-[34px] h-[34px] text-red-500 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
          </svg>
          <span class="text-gray-800 dark:text-gray-100 font-semibold">Hecha para estudiantes de todos los niveles</span>
        </li>
        <li class="flex items-center">
          <svg class="w-[34px] h-[34px] text-red-500 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
          </svg>
          <span class="text-gray-800 dark:text-gray-100 font-semibold">Es la mejor tecnica para estudiar --> Practicando</span>
        </li>
        <li class="flex items-center">
          <svg class="w-[34px] h-[34px] text-red-500 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
          </svg>
          <span class="text-gray-800 dark:text-gray-100 font-semibold">Muy Sencillo de usar!!</span>
        </li>
      </ul>
    </div>

    <!-- PRECIOS -->
    <div class="relative isolate px-6 py-24 sm:py-32 lg:px-8">
      <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
        <div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-4xl text-center">
        <h2 class="text-base/7 font-semibold text-red-600"></h2>
        <p class="mt-2 text-balance text-5xl font-semibold tracking-tight text-gray-900 dark:text-slate-200 sm:text-6xl">Escoge el mejor plan para ti</p>
      </div>
      <p class="mx-auto mt-6 max-w-2xl text-pretty text-center text-lg font-medium text-indigo-600 sm:text-xl/8">Escoge el mejor plan, equipado con todo lo que necesitas para tener exito en tus estudios.</p>
      <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
        <div class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-bl-3xl lg:rounded-tr-none">
          <h3 id="tier-hobby" class="text-base/7 font-poppins font-semibold text-indigo-600">Registrado</h3>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-gray-900">$0</span>
            <span class="text-base text-gray-500">/Gratis -  Sin compromisos ni publicidad</span>
          </p>
          <p class="mt-6 text-base/7 text-gray-600">El plan perfecto para estudiantes jovenes!</p>
          <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              PDF de hasta 10 hojas
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Uso ilimitado
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Resultados de examen
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Comparte el examen con tus compañeros por correo!
            </li>
          </ul>
          <a href="{% provider_login_url 'google' %}" aria-describedby="tier-hobby" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">Registrate con Google</a>
        </div>
        <div class="relative rounded-3xl bg-gray-900 p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10">
          <h3 id="tier-enterprise" class="flex font-poppins items-center text-base font-semibold text-yellow-400">
            Pro
            <svg class="w-6 h-6 ml-2 text-yellow-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
            </svg>
          </h3>
          
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-white">$99</span>
            <span class="text-base text-gray-400">/Servicio para siempre!</span>
          </p>
          <p class="mt-6 text-base/7 text-gray-300">Servicio profesional, pensado para estudiantes profesionales. <br><br><br><span class="font-semibold">Recomendado para:</span> <br> <span class="text-yellow-500">Oposiciones - Universidad - Master - Doctorado</span></p>
          <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              PDF grandes
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Velocidad maxima
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Explicación para cada respuesta y localización de la respuesta en el PDF
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Registro ilimitado de examenes
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Escoje dificultad de las preguntas
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
              </svg>
              Dos formatos para hacer examenes
            </li>
          </ul>
          <a href="#" aria-describedby="tier-enterprise" class="mt-8 inline-flex items-center justify-center rounded-md bg-yellow-500 px-3.5 py-2.5 text-center text-sm font-semibold text-black shadow-sm hover:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">
            <span class="flex items-center justify-center">
              Empieza hoy
              <svg class="w-6 h-6 ml-2 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
              </svg>
            </span>
          </a>
          
        </div>
      </div>
    </div>
    
    
  </main>
  

  
  

  <!-- Footer -->
  <footer class="bg-[#fdfdf6] py-8 dark:bg-gray-800">
    <div class="flex flex-col items-center">
      <div class="mb-4">
        <svg width="100" height="100" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <g stroke="black" stroke-width="8">
            <rect x="50" y="40" width="20" height="120" fill="red"/>
            <rect x="90" y="40" width="20" height="120" fill="red"/>
            <path d="M 50 80 L 130 40" fill="none" stroke="red" stroke-width="8"/>
            <path d="M 50 120 L 130 180" fill="none" stroke="red" stroke-width="8"/>
          </g>
        </svg>
      </div>
      <div class="text-center text-gray-600 dark:text-gray-300">
        <p>&copy; 2025 | Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>

  <!-- Script for Dark Mode -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Elimina el modo oscuro por defecto
      document.documentElement.classList.remove('dark');

      // Obtener el botón para alternar el modo oscuro
      const darkModeToggle = document.getElementById('dark-mode-toggle');
      
      // Escuchar el clic en el botón para cambiar el tema
      darkModeToggle.addEventListener('click', () => {
        document.documentElement.classList.toggle('dark'); // Alternar entre claro y oscuro
      });
    });
  </script>

{% endblock %}
