{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>{% block title %}Kaujaro{% endblock %}</title>

</head>

<body class="bg-gray-100 dark:bg-slate-700">
    <div>
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </div>
    

</body>

</html>